<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Listado de Productos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/formulario.css}">
</head>

<body>
<header>
	<nav>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a id="estas" th:href="@{/clientes}">Gestionar clientes</a></li>
			<li><a th:href="@{/productos}">Gestionar productos</a></li>
			<li><a th:href="@{/ingredientes}">Gestionar ingredientes</a></li>
			<li><a th:href="@{/pedidos}">Gestionar pedidos</a></li>
		</ul>
	</nav>
</header>

<div class="container text-center mt-5">
	<div class="row">
		<div class="col-2"></div>

		<div class="col-8">
			<a sec:authorize="hasAuthority('ADMIN')"
			   class="btn btn-info"
			   th:href="@{/clientes/api/clientes}">Create new cliente</a>
		</div>

		<div class="col-2"></div>
	</div>
</div>

</body>

</html>
