.footer {
    background-color: #8ec4c0;
    color: #f8f9fa;
  }
  
  .footer a {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #a8dadc;
  }
  
  .footer .social-icons i {
    margin-right: 10px;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 0.9rem;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .social-icons i {
    font-size: 1.25rem;
  }
  